* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --FONT-STACK: monospace, 'Courier New', Courier, sans-serif;
    --THEME-PINK: #fd013e;
}

html {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    font-size: 97.5%;
}

body {
    min-height: 100%;
    width: 100%;
    background-color: #151515;
    padding-inline: 20%;
}

#intro-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7.5%;
    margin-bottom: calc(5rem - 7.5%);
}

#personal-photo {
    border-radius: 50%;
    border: solid 0.5rem var(--THEME-PINK);
    height: 23.5rem;
    width: 23.5rem;;
}

#intro-section-main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    margin-bottom: 10%;
}

#intro-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
}

#intro-box-text {
    color: whitesmoke;
    font-family: var(--FONT-STACK);
    font-size: 3rem;
}

#intro-box-sub-text {
    color: rgb(150,150,150);
    font-family: var(--FONT-STACK);
    font-size: 1.825rem;
}

.rp {
    color: var(--THEME-PINK);
}

#nav-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

#nav-box button {
    color: var(--THEME-PINK);
    font-family: var(--FONT-STACK);
    background-color: #101010;
    font-size: 1.75rem;
    width: 17.5rem;
    padding: 1rem;
    text-wrap: nowrap;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 0 0 15px var(--THEME-PINK);
    border: none;
    transition-property: transform;
    transition-duration: 100ms;
}

#nav-box button:hover{
    transform: scale(1.1);
    transition-property: transform;
    transition-duration: 100ms;
    cursor: pointer;
}

#nav-box button:active{
    transform: scale(0.95);
    transition-property: transform;
    transition-duration: 100ms;
}

#nav-box a {
    text-decoration: none;
    color: #151515;
}

#contact-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.25rem;
}

#contact-box img {
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
    user-select: none;
    box-shadow: 0 0 10px var(--THEME-PINK);
    border-radius: 50px;
    transition-property: transform;
    transition-duration: 100ms;
}

#contact-box img:hover {
    transform: scale(1.25);
    transition-property: transform;
    transition-duration: 100ms;
    cursor: pointer;
}

#contact-box img:active {
    transform: scale(0.95);
    transition-property: transform;
    transition-duration: 100ms;
    cursor: pointer;
}

#scroll-animation-box {
  border: solid 5px var(--THEME-PINK);
  height: 5rem;
  width: 2.5rem;
  border-radius: 4rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-block: 0.4rem;
}

#scroll-animation-ball {
  height: 1rem;
  width: 1rem;
  background-color: var(--THEME-PINK);
  border-radius: 10rem;
}

.animate {
  animation-name: slide;
  animation-duration: 1.25s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
}

@keyframes slide {
  0% {
    transform: translateY(0);
  }
  
  100% {
    transform: translateY(2.5rem);
  }
}

.section-header {
    color: whitesmoke;
    font-family: var(--FONT-STACK);
    font-size: 2.75rem;
    margin-bottom: 2rem;
    width: 100%;
    text-align: left;
}

#about-section {
    margin-bottom: 7.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about-sub-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#about-section-anchor { 
    margin-top: -3rem;
    margin-bottom: 3rem;
}

#about-col-1 {
    width: 60%;
}

#about-col-2 {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 15px var(--THEME-PINK);
    border-radius: 2rem;
    background-color: #0E0E0E;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1.75rem;
    user-select: none;
}

#about-text {
    width: 90%;
    font-family: var(--FONT-STACK);
    color: rgb(150,150,150);
    font-size: 1.5rem;
    margin-bottom: 3rem;
    text-align: left;
}

#about-col-1 a {
    text-decoration: none;
}

#about-col-1 button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 15rem;
    padding: 0.75rem;
    font-size: 1.5rem;
    font-family: var(--FONT-STACK);
    color: var(--THEME-PINK);
    background-color: #0E0E0E;
    border-radius: 2rem;
    border-style: none;
    box-shadow: 0 0 10px #fd013e;
    transition-property: transform;
    transition-duration: 100ms;
    user-select: none;
}

#about-col-1 button:hover {
    transform: scale(1.1);
    transition-property: transform;
    transition-duration: 100ms;
    cursor: pointer;
}

#about-col-1 button:active {
    transform: scale(0.95);
    transition-property: transform;
    transition-duration: 100ms;
    cursor: pointer;
}

#tech-stack-title {
    color: var(--THEME-PINK);
    font-family: var(--FONT-STACK);
    width: 100%;
    font-size: 1.5rem;
    /* text-decoration: underline; */
    text-align: center;
    margin-bottom: 1.5rem;
}

#skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#skills-list img {
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-col-2 img {
    transition-property: transform;
    transition-duration: 100ms;
}

#about-col-2 img:hover {
    transform: scale(1.25);
    transition-property: transform;
    transition-duration: 100ms;
}

#tools-title {
    color: var(--THEME-PINK);
    font-family: var(--FONT-STACK);
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

#tools-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#tools-list img {
    display: flex;
    justify-content: center;
    align-items: center;
}

#work-experience-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 7.5rem;
}

#work-experience-anchor {
    margin-top: -3rem;
    margin-bottom: 3rem;
}

.work-item {
    width: 100%;
    color: rgb(150,150,150);
    font-family: var(--FONT-STACK);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.work-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.work-title-text-and-img{
    display: flex;
    gap: 1.5rem;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 5rem;
}

.work-title-text-and-img img {
    height: 5.625rem;
    width: 5.625rem;
}

.work-title-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.25rem;
}

.work-item-title {
    color: var(--THEME-PINK);
}

.work-company {
    font-size: 1.25rem;
}

.work-location {
    font-size: 1.25rem;
}

.work-length {
    font-size: 1.25rem;
}

#education-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 7.5rem;
}

#education-anchor {
    margin-top: -3rem;
    margin-bottom: 3rem;
}

.education-item {
    width: 100%;
    color: rgb(150,150,150);
    font-family: var(--FONT-STACK);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.education-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.education-item-title {
    color: var(--THEME-PINK);
}

.education-title-text-and-img{
    display: flex;
    gap: 1.5rem;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 5rem;
}

.education-title-text-and-img img {
    height: 5.625rem;
    width: 5.625rem;
}

.education-title-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.25rem;
}

.education-company {
    font-size: 1.25rem;
    color: rgb(150,150,150);
}

.education-location {
    font-size: 1.25rem;
    color: rgb(150,150,150);
}

.education-length {
    font-size: 1.25rem;
    color: rgb(150,150,150);
}

.education-notes {
    margin-top: 1rem;
}

.education-notes li {
    font-size: 1.25rem;
    margin-left: 8.5rem;
    margin-bottom: 0.5rem;
}

.education-notes li:last-child {
    margin-bottom: 0;
}

.education-notes a, .education-notes a:visited {
    color: rgb(150,150,150);
}

.education-notes a:hover, .education-notes a:active {
    color: whitesmoke;
}

#certificates-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 7.5rem;
}

#certificates-anchor {
    margin-top: -3rem;
    margin-bottom: 3rem;
}

.certificates-item {
    width: 100%;
    color: rgb(150,150,150);
    font-family: var(--FONT-STACK);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.certificates-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 1.5rem;
    margin-bottom: 0;
}

.certificates-title-text-and-img{
    display: flex;
    gap: 1.5rem;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 5rem;
}

.certificates-title-text-and-img img {
    height: 5.625rem;
    width: 5.625rem;
}

.certificates-title-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.25rem;
}

.certificates-item-title {
    color: var(--THEME-PINK);
}

.certificates-item a, .certificates-item a:visited, .certificates-item a:hover, .certificates-item a:active {
    text-decoration: underline;
    color: var(--THEME-PINK);
}

.certificates-item-title {
    color: var(--THEME-PINK);
}

.certificates-company {
    font-size: 1.25rem;
    color: rgb(150,150,150);
}

.certificates-location {
    font-size: 1.25rem;
    color: rgb(150,150,150);
}

.certificates-length {
    font-size: 1.25rem;
    color: rgb(150,150,150);
}

.certificates-item {
    margin-bottom: 2.5rem;
}

.certificates-item:last-child {
    margin-bottom: 0;
}

#projects-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 7.5rem;
}

#projects-section a {
    text-decoration: none;
}

#projects-section-anchor {
    margin-top: -3rem;
    margin-bottom: 3rem;
}

#projects-text {
    color: rgb(150,150,150);
    font-size: 1.5rem;
    font-family: var(--FONT-STACK);
    margin-bottom: 3rem;
}

#project-cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.project-card {
    min-height: 34rem;
    width: 25rem;
    box-shadow: 0px 0px 15px var(--THEME-PINK);
    border-radius: 2rem;
    background-color: #0E0E0E;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    color: var(--THEME-PINK);
    font-family: var(--FONT-STACK);
    font-size: 1.625rem;
    padding: 1.5rem 2rem 1.5rem 2rem;
    text-align: center;
    transition-property: transform;
    transition-duration: 100ms;
}

.project-card:hover {
    transform: scale(1.075);
    transition-property: transform;
    transition-duration: 100ms;
}

.project-card img {
    height: 13.5rem;
    width: 22rem;
    border-radius: 2rem;
}

.project-card-desc {
    font-family: var(--FONT-STACK);
    color: var(--THEME-PINK);
    font-size: 1.125rem;
}

.skills-used-list {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: auto;
}

.skills-used-list img {
    border-radius: 0;
    height: 3.5rem;
    width: 3.5rem;
}

#email-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

#email-me-anchor {
    margin-top: -3rem;
    margin-bottom: 3rem;
}

form {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    box-shadow: 0px 0px 15px var(--THEME-PINK);
    border-radius: 2rem;
    background-color: #0E0E0E;
    padding: 2rem 2rem;
    font-size: 1rem;
    font-family: var(--FONT-STACK);
    color: whitesmoke;
    margin-bottom: 5rem;
    gap: 1rem;
}

.email-form-input-fields {
    width: 100%;
}

form input {
    border-radius: 2rem;
    background-color: #0E0E0E;
    padding: 1rem;
    font-size: 1rem;
    font-family: var(--FONT-STACK);
    color: whitesmoke;
    border-style: solid;
    border: solid 1px #202020;
    width: 100%;
}

form textarea {
    border-radius: 2rem;
    background-color: #0E0E0E;
    padding: 1rem;
    font-size: 1rem;
    font-family: var(--FONT-STACK);
    color: whitesmoke;
    border: solid 1px #202020;
    width: 100%;
}

form button {
    border: solid 1px var(--THEME-PINK);
    border-radius: 2rem;
    background-color: #0E0E0E;
    padding: 1rem;
    border-style: solid;
    color: var(--THEME-PINK);
    font-family: var(--FONT-STACK);
}

#form-buttons-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

#form-buttons-container button {
    transition-property: transform;
    transition-duration: 100ms;
}

#form-buttons-container button:hover {
    transform: scale(1.2);
    transition-property: transform;
    transition-duration: 100ms;
}

#form-buttons-container button:active {
    transform: scale(0.95);
    transition-property: transform;
    transition-duration: 100ms;
}

#form-top-row {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem;
}

@media (max-width: 1450px) {
    html {
        font-size: 95%;
    }
}

@media (max-width: 1375px) {
    html {
        font-size: 90%;
    }
}

@media (max-width: 1250px) {
    html {
        font-size: 85%;
    }
}

@media (max-width: 1200px) {
    html {
        font-size: 80%;
    }

    .section-header, #about-text, #projects-text {
        width: 100%;
        text-align: center;
    }

    #about-sub-container {
        flex-direction: column;
        gap: 3rem;
    }

    #about-col-1, #about-col-2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;   
    }

    #about-col-1 a {
        text-align: center;
    }
}

@media (max-width: 1100px) {
    #intro-section-main-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
        margin-bottom: 7.5%;
        gap: 4rem;
    }

    #intro-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #intro-box-sub-text {
        margin-bottom: 3%;
    }
}

@media (max-width: 1000px) {
    #about-col-2 img {
        transform: scale(0.9);
    }
    #about-col-2 img:hover {
        transform: scale(1.125);
    }
}

@media (max-width: 820px) {
    .work-title-text-and-img, .work-title, .education-title-text-and-img, .education-title, .certificates-title-text-and-img, .certificates-title {
        flex-direction: column;
        align-items: center;
        margin-inline: 0;
        width: 100%;
        text-align: center;
    }

    .work-title-text, .education-title-text, .certificates-title-text {
        flex-direction: column;
        align-items: center;
        margin-inline: 0;
        width: 100%;
        text-align: center;
        gap: 0.325rem;
        margin-bottom: 0.325rem;
    }

    .education-notes {
        text-align: center;
        list-style-position: inside;

    }
    .education-notes li {
        margin-inline: 0;
    }
}

@media (max-width: 684px) {
    body {
        margin-top: 7.5%;
    }
}

@media (max-width: 550px) {
    html {
        font-size: 75%;
    }
}

@media (max-width: 500px) {
    html {
        font-size: 72.5%;
    }
}

@media (max-width: 400px) {
    html {
        font-size: 67.5%;
    }
}